@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  background-image: url('./assets/bg_elephants-2_4030.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 213, 0, 0.9);
  margin-bottom: 1.5rem;
}

@media (min-width: 25rem) {
  h1 {
    font-size: 2.25rem;
  }
}

.wrapper {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  width: 20rem;
  height: 25rem;
  box-shadow: hsla(0, 0%, 0%, 0.25) 0px 13px 27px -5px, rgba(228, 228, 228, 0.3) 0px 8px 16px -8px;
  border-radius: .75rem;
  border: none;
  display: grid;
  place-content: center;
  background-color: hsla(0, 0%, 100%, 0.05);
}

@media (min-width: 25rem) {
  .square {
    width: 40rem;
  }
}

.square p {
  text-align: center;
}

form {
  width: 20rem;
}

@media (min-width: 25rem) {
  form {
    width: 40rem;
  }
}

label {
  position: absolute;
  left: -999999rem;
}

input {
  opacity: 80%;
}

input:focus {
  opacity: 100%;
  outline: none !important;
}

input[type="text"] {
  padding: 1rem 0 1rem 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: .75rem;
  border: none;
  outline: none;
}

input[placeholder] {
  font-size: 1rem;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}
